/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

body.dark {
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 75%);
  --card-color: hsla(246, 16%, 5%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}

img {
  max-width: 100%;
  display: block;
}

.navbar {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: 0.5s;
}
.navbar.scroll-bg {
  background-color: var(--container-color);
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
  transition: 0.5s;
}

.nav-logo {
  width: 50px;
  fill: var(--first-color);
}

.menu-bar {
  font-weight: 500;
  font-size: 10px;
  margin-left: 50px;
  margin-top: 5px;
  position: fixed;
  display: inline-block;
  word-spacing: 1.5rem;
}
.menu-bar span {
  font-size: 12px;
  font-weight: 600;
  color: var(--title-color);
}
.menu-bar span:hover {
  color: var(--title-color);
}
.menu-bar a:hover {
  color: var(--first-color);
}

.menu-bar a {
  text-decoration: none;
  color: hsla(0, 0%, 15%, 0);
  margin-top: 500px;
}

.icons-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
}

.bx-shopping-bag:hover {
  cursor: pointer;
}
main {
  padding: 6.5rem 1.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.main-product {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.first-product-img {
  max-width: 1000px;
  width: 60%;
  background-color: var(--first-color);
  padding-top: 10.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  margin-left: 156px;
}

.first-img {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.info-first-product h1 {
  color: var(--title-color);
}
.info-first-product h3 {
  color: var(--title-color);
  font-size: 15px;
  font-weight: 100;
  margin-top: 1rem;
}
.info-first-product h2 {
  color: var(--first-color);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.info-first-product {
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 2rem 0.5rem;
  background-color: var(--body-color);
}

.btn-add-cart {
  color: var(--body-color);
  background-color: var(--button-color-alt);
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
  align-items: center;
  position: relative;
  border: none;
  box-shadow: 0 1px 4px hsl(0deg 4% 25% / 10%);
}
.btn-add-cart:hover {
  background-color: var(--text-color);
}

.cart-content {
  grid-template-columns: 200px;
  gap: 2rem;
  justify-content: center;
}
.grid {
  display: grid;
}

.product img {
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  position: relative;
}

.main-show-products {
  max-width: 1000px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 5rem;
  padding-top: 1rem;
}
.main-show-products ul {
  text-decoration: none;
  list-style: none;
}
.one {
  grid-column: 1;
  grid-row: 1/2;
}
.two {
  grid-column: 1;
  grid-row: 2 / 2;
}
.three {
  grid-column: 2;
  grid-row: 1 / 2;
}
.four {
  grid-column: 2;
  grid-row: 2/2;
}

.main-show-products li {
  font-weight: 500;
  color: var(--title-color);
}
.main-show-products span {
  font-weight: 100;
  font-size: x-small;
}
.main-show-products li:hover {
  cursor: pointer;
  color: var(--first-color);
}

.cart-content {
  padding: 1rem 1.5rem;
  margin: auto;
  align-items: center;
}

.first-product-container {
  padding: 0.5rem 0.5rem;

  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
}

.card-img {
  background-color: var(--border-color);
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  margin: 1rem auto 0;
  border-radius: 10px 10px 0px 0px;
}
.card-body {
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
  padding-top: 0.5rem;
  border-radius: 0 0 10% 10%;
  padding-bottom: 15px;
  padding-left: 1rem;
}

.product-counter {
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 50%);
  margin-left: 95px;
  margin-top: 150px;
  font-size: x-large;
}
button {
  border: none;
}

.product-counter:hover {
  background-color: var(--first-color);
  color: var(--container-color);
  cursor: pointer;
}

.bx-plus:hover {
  color: var(--container-color);
}

.product-to-add {
  margin-bottom: 2.5rem;
}

.card-body {
  padding-top: 1rem;
}
.card-price span {
  color: var(--title-color);
  font-size: large;
  font-weight: 500;
}
.card-price {
  font-size: small;
}

.card-title span {
  color: var(--title-color);
  font-size: large;
  font-weight: 500;
}

.our-information-container {
  background-color: var(--card-color);
  color: var(--title-color);
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  margin-top: 5rem;
}

.our-information-container h3 {
  margin-top: 1rem;
}

.our-information {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  font-size: 11px;
}

a:hover {
  color: var(--text-color-light);
}

.social-container {
  margin-left: -0.5rem;
  align-items: center;
  gap: 0.2rem;
  display: flex;
  width: 15px;
  color: var(--title-color);
}
.bx {
  color: var(--title-color);
  scale: 0.7;
}

.footer-copy {
  display: block;
  text-align: center;
  font-size: x-small;
  color: var(--text-color-light);
  margin: 3.5rem 0px 0rem;
  padding-bottom: 2rem;
}

footer ul {
  list-style: none;
}

li:hover {
  cursor: pointer;
  color: var(--first-color);
}

i:hover {
  color: var(--first-color);
  cursor: pointer;
}

.bx-moon:hover {
  cursor: pointer;
  color: var(--first-color);
}
.bx-sun:hover {
  cursor: pointer;
  color: var(--first-color);
}

.contenedor {
  background-color: rgba(109, 109, 109, 0.737);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: left 0.3s linear;
  padding: 2.5rem 1.5rem 1rem 1.5rem;
}

.contenedor.hide {
  left: -100%;
}

.cart {
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -4px 5px 10px rgb(147 147 147);
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  z-index: 100;
}

.cart-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.menu-container {
  background-color: rgba(109, 109, 109, 0.737);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: left 0.3s linear;
  padding: 2.5rem 1.5rem 1rem 1.5rem;
}

.menu-container.hide {
  left: -100%;
}

.menu {
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -4px 5px 10px rgb(147 147 147);
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  z-index: 100;
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.menu-cart {
  margin: auto;
  padding-top: 30%;
}
.menu-cart a {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding-top: 5rem;
  color: var(--title-color);
}
.menu-cart a:hover {
  color: var(--first-color);
}

.cart-shop {
  position: relative;
}

.empty-car-img {
  margin-top: 5rem;
}

.my-cart {
  justify-content: center;
  display: flex;
  color: var(--title-color);
  margin-top: 2rem;
}
.your-cart {
  justify-content: center;
  color: var(--title-color);
  margin-top: 3rem;
  align-items: center;
  text-align: center;
}
.your-cart span {
  color: var(--text-color-light);
  font-size: 15px;
}

.cart-counter {
  padding: 0.25rem;
  background-color: var(--title-color);
  color: var(--container-color);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 10px;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8px;
  right: -8px;
}
.cart-products {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  column-gap: 1rem;
  width: 250px;
  height: 100px;
  margin: auto;
}
.img-cart {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1/1;
}
.product-info {
  grid-column: 2;
  grid-row: 1/1;
}

.cart-products #name {
  color: var(--title-color);
  font-weight: 500;
}
.product-info span {
  color: var(--first-color);
}

@media screen and (min-width: 992px) {
  .bx-grid-alt {
    color: hsla(0, 0%, 100%, 0);
  }

  .menu-bar {
    font-weight: 500;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 5px;
    position: fixed;
    gap: 15rem;
    display: inline-block;
    word-spacing: 2.5rem;
  }
  .menu-bar span {
    font-size: 18px;
    font-weight: 600;
  }
  .menu-bar a {
    color: var(--title-color);
  }
  .main-first-product {
    display: grid;
    column-gap: 10rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
  }
  .main-product {
    align-items: center;
    justify-content: center;
  }

  .first-product-img {
    margin-left: 1000px;
    margin-right: 500px;
    margin-top: -200px;
    width: 480px;
    height: 880px;
  }

  .info-first-product h1 {
    font-size: 50px;
  }
  .info-first-product {
    max-width: 1000px;
    position: absolute;
    width: 400px;
    margin-top: 200px;
  }
  .info-first-product h3 {
    font-size: 20px;
  }

  .btn-add-cart {
    margin-left: 200px;
  }

  .main-show-products {
    max-width: 1000px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 10rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: auto;
  }

  .main-show-products ul {
    font-size: x-large;
    text-decoration: none;
    list-style: none;
  }

  .main-show-products span {
    font-size: small;
  }
  .one {
    grid-column: 1;
    grid-row: 1/1;
  }
  .two {
    grid-column: 3;
    grid-row: 1 / 1;
  }
  .three {
    grid-column: 2;
    grid-row: 1 / 1;
  }
  .four {
    grid-column: 4;
    grid-row: 1/1;
  }

  .cart-content {
    grid-template-columns: repeat(3, 262px);
    justify-content: center;
    column-gap: 7rem;
    padding: 0px;
  }
  .grid {
    display: grid;
  }
  .card-product {
    background-color: var(--card-color);
    margin: auto;
    width: 25px;
  }

  .card-price span {
    color: var(--title-color);
    font-size: x-large;
    font-weight: 500;
  }

  .card-title span {
    color: var(--title-color);
    font-size: x-large;
    font-weight: 500;
  }

  .product-counter {
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 4px hsl(0deg 4% 15% / 50%);
    margin-left: 180px;
    margin-top: 260px;
  }

  .btn1 {
    border: none;
    right: 82rem;
    margin-top: -2rem;
  }
  .btn2 {
    border: none;
    right: 51rem;
    margin-top: -2rem;
  }
  .btn3 {
    border: none;
    right: 20rem;
    margin-top: -2rem;
  }

  .section {
    padding: 8rem 0px 1rem;
  }

  .footer {
    display: block;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }

  .footer-container {
    padding-bottom: 0rem;
    padding-top: 15px;
    border-bottom: 1px solid var(--border-color);
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    font-size: larger;
    line-height: 2.5rem;
    margin-top: 10px;
  }

  .card-body {
    margin-bottom: 150px;
  }

  .social-container {
    gap: 1rem;
    margin-top: 1rem;
  }

  .bx {
    scale: 1;
    gap: 2rem;
  }
  .grid {
    display: grid;
  }
  .footer-copy {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: var(--smaller-font-size);
    margin: 10rem auto 1.5rem;
  }

  .our-information-container {
    padding-top: 10px;
    margin-top: 15px;
  }
  .cart-products {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }
  .img-cart {
    width: 100%;
    height: 40%;
  }
}
